---
layout: default
---
{% for post in site.posts %}
    {% if post.external_url %}
        <dd class="{{ post.external_site }}">
          [{{ post.title }}]({{ post.external_url }})
        </dd>
    {% else %}
        <dd>[{{ post.title }}]({{ post.url }})</dd>
    {% endif %}
{% endfor %}

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
